.container {
  text-align: left;
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem 1rem 3rem;
}

.title {
  font-size: 2.4rem;
  /* ↓ from 3rem */
  font-weight: 700;
  margin-bottom: 0.3rem;
  color: white;
}

.subtitle {
  font-size: 1.05rem;
  /* ↓ slightly */
  color: #cfcfcf;
  margin-bottom: 2rem;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}